@model IEnumerable<ImagePreviewer.Models.TagModel>




        @foreach (var item in Model)
        {

            @*<div class="input-group">
                <input id="msg" type="text" class="form-control" name="msg" placeholder="@item.TagTitle">
                <span class="input-group-addon">X</span>
            </div>*@

        }


