
@foreach (var path in ViewBag.ImagePathes)
{
    <div class="col-lg-3 col-md-4 col-6 thumb">
        <a data-fancybox="gallery" href="@path">
            <img class="img-fluid" src="@path" alt="...">
        </a>
    </div>
}


